@font-face {
  font-family: 'Noto Sans SC';
  src: url(../font/NotoSansSC-Regular.otf);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #f9f9f9;
  color: #212529;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a,
a:active,
a:focus,
a:hover {
  color: #212529;
  text-decoration: none;
}

.app {
    min-height: 100vh;
    position: relative;
}

.app, .drawer__content {
  padding-top: 5.5rem;
  width: 100%;
}

.header {
    backface-visibility: hidden;
    background-color: #fff;
    height: 5.5rem;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .02);
}

.app__container {
    display: block;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    position: relative;
    width: 100%;
}

.header__context, .header__default {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
  display: flex;
}

.header__default {
  justify-content: space-between;
}

a, a:active, a:focus, a:hover {
  color: #212529;
  text-decoration: none;
}

.header__brand {
  height: 2rem;
}

.header__icons {
  align-items: center;
  display: flex;
}

.header__icons--back, .header__icons--bag, .header__icons--search {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.header__icons--search {
  margin-right: 1.5rem;
}

.counter {
  overflow: hidden;
  position: absolute;
  right: -.7rem;
  top: 0;
  height: 1.7rem;
  border-radius: 50%;
  width: 1.7rem;
  background: #cf3838;
  color: #fff;
  line-height: 1.7rem;
  text-align: center;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  z-index: 10;
}

.counter__value {
  height: 1.5rem;
  margin: 0;
}

.products {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}


.header__title {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin: 0 auto;
  transform: translate3d(calc(-50% - 30px), 0, 0);
}

.products .header__title {
  color: #a7a7a7;
  font-size: 1.4rem;
  font-weight: 400;
}

.products__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.products__box {
  padding: 1rem .25rem;
  position: relative;
  text-align: center;
  width: 50%;
}

.products__box .badge {
  position: absolute;
  right: 0;
  margin: 0;
}

.badge--discount {
  background-color: #212529;
  color: #fff;
}

.badge {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .2rem;
}

figure {
  margin: 0;
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.product__image img {
  width: 100%;
}

.product__name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: .5rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__price {
  font-size: 1.4rem;
}

.product__price--from {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #a7a7a7;
  text-decoration: line-through;
}

@media screen and (min-width: 1279px) {
  .app__container {
    width: 1279px;
  }
}

@media screen and (min-width: 992px) {
  .products__grid {
    justify-content: left;
  }
  .products__box {
    width: 25%;
  }
}