@import "../color.css";

.banner {
  background-attachment: fixed;
  background-image: url(../assets/img/fashion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
}

.products {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: var(--light);
}

.app__container {
  display: block;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  position: relative;
  width: 100%;
  background-color: var(--light);
}

.products .header__title {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  transform: none;
}

.products__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.products__box {
  padding: 1rem 0.25rem;
  position: relative;
  text-align: center;
  width: 50%;
  box-shadow: var(--peach);
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__image img {
  width: 100%;
}

.badge {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem;
}

.products__box .badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.badge--discount {
  background-color: var(--tomato);
  color: var(--light);
}

.product__name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__price {
  font-size: 1.4rem;
}

.product__price--from {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: var(--red);
  text-decoration: line-through;
}

.products .product__btn-details {
  display: none;
  position: absolute;
  padding: 15px 40px;
  background: transparent;
  color: var(--peach);
  border: 1px solid var(--peach);
}

.products .product__image:hover {
  background-color: var(--dark);
  color: var(--peach);
  border: 1px solid var(--peach);
}

.products .product__image:hover img {
  opacity: 0.7;
}

.products .product__image:hover .product__btn-details {
  display: inline-block;
}

@media screen and (min-width: 1279px) {
  .app__container {
    width: 1279px;
  }
}

@media screen and (min-width: 992px) {
  .products__grid {
    justify-content: left;
  }
  .products__box {
    width: 25%;
  }
}
