@import "../color.css";

.single-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-bottom: 6.5rem;
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.product__image img {
  width: 100%;
}

.single-product .badge {
  font-size: 1.5rem;
  position: absolute;
}

.product__content {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.product__name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product__content .product__name {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  letter-spacing: -0.05rem;
}

.product__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__content .product__pricing {
  justify-content: left;
}

.product__price {
  font-size: 1.4rem;
}

.product__price--from {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: var(--red);
  text-decoration: line-through;
}

.product__content .product__price {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.product__content .product__price--installments {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: var(--tomato);
}

.product__sizes {
  display: block;
}

.product__sizes__title {
  color: var(--tomato);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.single-product .product__content,
.single-product .product__image {
  width: 100%;
}

.product__btn-group {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 0;
}

.product__filter {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  padding: 0.8rem 1rem;
  border: 0.1rem solid var(--red);
  margin-right: 0.8rem;
  background: transparent;
  outline: none;
  border-radius: 0.5rem;
}

.product__filter--selected {
  background-color: var(--red);
  color: var(--light);
  border-color: var(--dark);
}

.product__add-to-bag {
  background-color: var(--red);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.2rem 2rem 0 rgba(238, 124, 194, 0.5);
  color: var(--light);
  display: inline-block;
  line-height: 1;
  outline: none;
  cursor: pointer;
  padding: 1.2rem;
  position: relative;
  text-align: center;
  transform: translateZ(0);
  width: 100%;
}

@media screen and (min-width: 1279px) {
  .single-product {
    width: 1279px;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .single-product .product__content,
  .single-product .product__image {
    width: 50%;
  }
  .single-product .badge {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
