@import "../color.css";

.drawer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--light);
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 100%;
  z-index: 20;
}

.drawer.drawer--is-visible {
  transform: translateZ(0);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.header {
  backface-visibility: hidden;
  background-color: var(--light);
  height: 5.5rem;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.02);
}

.header__context,
.header__default {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
  display: flex;
}

.header__icons {
  align-items: center;
  display: flex;
}

.header__icons--back,
.header__icons--bag,
.header__icons--search {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.header__icons--back {
  margin-right: auto;
  font-size: 2.5rem;
}

.header__icons--back img {
  width: 25px;
}

.header__title {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 0 auto;
  transform: translate3d(calc(-50% - 30px), 0, 0);
}

.drawer__content {
  background: var(--light);
  height: 100vh;
  overflow: auto;
}

.app,
.drawer__content {
  padding-top: 5.5rem;
  width: 100%;
}

.search {
  padding-bottom: 5rem;
  width: 100%;
}

.search a {
  display: block;
}

.search .header__title {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: var(--peach);
  font-size: 1.4rem;
  font-weight: 400;
}

.search__form {
  background: var(--peach);
  box-shadow: 0 0.2rem 2rem 0 rgba 0, 0, 0, 0.1;
  color: var(--light);
  display: inline-block;
  padding: 1rem 1.6rem;
  width: 100%;
}

.search__input {
  background: var(--light);
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  color: var(--dark);
  font-size: 1.4rem;
  font-weight: 600;
  height: auto;
  outline: none;
  padding: 1rem;
  width: 100%;
}

.product__list {
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.cart__empty {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  color: var(--peach);
  transform: translate3d(0, -50%, 0);
}

.cart__empty,
.cart__subtotal {
  text-align: center;
  left: 0;
  width: 100%;
}

.product__list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
}

.product__list__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.product__list .product__image {
  width: 25%;
}

.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.product__image img {
  width: 100%;
}

.product__list__info {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product__list__name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.product__list__size {
  font-size: 1.2rem;
  color: var(--tomato);
}

.product__list__pricing {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 25%;
}

.product__list__current {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.product__list__installments {
  font-size: 1.2rem;
  color: var(--tomato);
}

@media screen and (min-width: 1279px) {
  .app__container {
    width: 1279px;
  }
  .drawer,
  .drawer .app__container {
    width: 375px;
  }
  .single-product {
    width: 1279px;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .single-product .product__content,
  .single-product .product__image {
    width: 50%;
  }
  .product__actions {
    position: relative;
    z-index: 0;
    padding: 2rem 0;
    width: auto;
  }
  .product__add-to-bag {
    width: 50%;
  }
  .drawer {
    right: 0;
  }
}
