@font-face {
  font-family: "Noto Sans SC";
  src: url(./assets/font/NotoSansSC-Regular.otf);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #f9f9f9;
  color: #212529;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a,
a:active,
a:focus,
a:hover {
  color: #212529;
  text-decoration: none;
}

.app {
  min-height: 100vh;
  position: relative;
}
