:root {
  --orange: #ffa500;
  --brown: #d2691e;
  --tomato: #ff6347;
  --salmon: #a0522d;
  --coral: #ff7f50;
  --red: #cd5c5c;
  --lightgold: #ffdab9;
  --grey: #696969;
  --peach: #ffdab9;
  --dark: #000000;
  --light: #ffffff;
}
